## Java

*.class
*.war
*.ear
hs_err_pid*


## Eclipse
.classpath
.metadata
.recommenders
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
/launch-directory/

## OS Specific
.DS_Store
Thumbs.db

/eventLog.txt
