<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="standardApplicationId"
         name="standardApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
            <run 
      		class="at.sunplugged.z600.launcher.Main">
      			<parameter name="optimize" value="true"/>
	  		</run>
      </application>
   </extension>
   <extension
         id="z600"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.sunplugged.z600.launcher.standardApplicationId"
            name="z600_x86">
         <property
               name="appName"
               value="z600_x86">
         </property>
      </product>
   </extension>
</plugin>
